.nav {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-right: 15px;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.nav__logo {
  width: 90px;
  object-fit: contain;
}
.nav__avatar {
  width: 30px;
  object-fit: contain;
}

.nav--opacity {
  opacity: 0.5;
}
